.logo {
    line-height: 0;
}

.logo img {
    width: 100px;
}

.mat-toolbar.mat-primary {
    background-color: black;
}

.custom-color {
    border-color: #ffff;
    margin: 4px;
}

.mat-stroked-button {
    line-height: 20px;
}

.example-spacer {
    flex: 1 1 auto;
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.toolbar {
    background-color: red;
    width: 150px;
    text-align: center;
    padding: 10px 0px;
    margin: 0;
}

.menu-icon {
    width: 63px;
    text-align: center;
    padding: 12px 0px 2px;
    margin: 0;
}

.example-full-width {
    width: 133px!important;
    line-height: 0;
    height: 45px;
    margin-top: 17px;
    margin-bottom: 17px;
}

.search-box {
    margin-top: 6px;
}

.menu-toolbar {
    padding: 0!important;
}