
<div class="splitTop">
  <div class="centered">
    <img src="../../assets/image/oxbow_logo.jpg" alt="Avatar woman">
    <h2>Jane Flex</h2>

  </div>
</div>

<div class="splitBottom">
  <div class="card-body">
  <form [formGroup]="loginForm" autocomplete="off">
    <div class="container centered">
      <div class="form-group row" >
        <div class="col-md-4 col-form-label text-md-right">
        <label for="username" >Username</label></div>
        <div class="col-md-4 col-form-label text-md-right">
            <input type="text" id="username" class="form-control" name="username" required autofocus>
        </div>
    </div>

    <div class="form-group row">
        <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
         <input type="password" id="password" class="form-control" name="password" required>
    </div>


    <div class="col-md-6 offset-md-4">
        <button type="submit" class="btn btn-primary">
            Login
        </button>
    </div>

  </div>
    <!-- <div>
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input
          matNativeControl
          placeholder="UserName"
          required
          formControlName="userName"
        />
      </mat-form-field>
    </div>
   
    <div>
      <mat-form-field>
        <input
          matInput
          placeholder="Password"
          type="password"
          required
          formControlName="password"
        />
      </mat-form-field>
    </div>

    <button mat-button color="primary" (click)="onsubmit()">Login</button> -->

    <!--          
          </form>
        </div> -->
  </form>
</div>
</div>
