.login-container {
    padding: 4% 36%;
}

.login-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.input-full-width {
    width: 100%;
}

.login-btn {
    float: right;
    border-color: #0079b8;
    background-color: #0079b8;
}

.login-icon {
    color: rgba(0, 0, 0, 0.54);
    font-size: 15px;
}

.head {
    background: black;
    color: white;
    padding: 5%;
    font-size: 20px;
    line-height: 1.5;
}

.login_title {
    position: relative;
    left: 40%;
}