.dashboard {
  margin-left: 60px;
  background-color: #000;
  border-radius: 5px;
  position: fixed;
  bottom: 10px;
  width: calc(100% - 70px);
  z-index: 1;
}
.elements {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.element {
  margin: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.count {
  margin-bottom: 5px;
  font-size: 2rem;
  color: rgb(185, 77, 37);
}
.title {
  font-size: 1rem;
}
